{% macro menuItem(fileOrFolderName, fileOrFolder, step, currentPath) %}
    {%if (fileOrFolder.isNote or fileOrFolder.isFolder) and fileOrFolder.permalink != '/' and not (fileOrFolder.isNote and fileOrFolderName == 'index.md')%}
        <div x-show="isOpen" style="display:none" class="{{'filelist' if step>0}}">
            {%if fileOrFolder.isNote and not fileOrFolder.hide %}
                <div @click.stop class="notelink {{ 'active-note' if fileOrFolder.permalink === permalink}}">
                    <a data-note-icon="{{fileOrFolder.noteIcon}}" class="filename" href="{{fileOrFolder.permalink}}"{% if fileOrFolder.permalink === permalink %} aria-current="page"{% endif %}>{{fileOrFolder.name}} </a>
                </div>
            {% elif fileOrFolder.isFolder%}
                {% set indexNote = fileOrFolder["index.md"] %}
            
                <div class="folder inner-folder"
                     x-data="{isOpen: $persist(false).as({{currentPath | dump}})}"
                     @click.stop="isOpen=!isOpen">
            
                    <div class="foldername-wrapper align-icon">
            
                        <i x-show="isOpen"
                           style="display: none;"
                           data-lucide="chevron-down"></i>
            
                        <i x-show="!isOpen"
                           data-lucide="chevron-right"></i>
            
                        {% if indexNote and indexNote.isNote %}
                            <a
                                @click.stop
                                href="{{indexNote.permalink}}"
                                class="foldername"
                                {% if indexNote.permalink === permalink %}aria-current="page"{% endif %}
                            >
                                {{fileOrFolderName}}
                            </a>
                        {% else %}
                            <span class="foldername">{{fileOrFolderName}}</span>
                        {% endif %}
            
                    </div>
            
                    {% for fileOrFolderName, child in fileOrFolder %}
                        {{menuItem(fileOrFolderName, child, step+1, (currentPath+"/"+fileOrFolderName))}}
                    {% endfor %}
            
                </div>
            {% endif %}
        </div>
        {%endif%}
    {% endmacro %}
    
    <div x-init="isDesktop = (window.innerWidth>=1000) ? true: false;"
            x-on:resize.window="isDesktop = (window.innerWidth>=1000) ? true : false;"
            x-data="{isDesktop: true, showFilesMobile: false}">

        <div x-show.important="!isDesktop" style="display: none;">
            {%include "components/filetreeNavbar.njk"%}
        </div>
        
        <div x-show="showFilesMobile && !isDesktop" @click="showFilesMobile = false" style="display:none;" class="fullpage-overlay"></div>

      <div class="filetree-wrapper" x-show.important="isDesktop || showFilesMobile" style="display: none;">
      <nav class="filetree-sidebar">
        {% for imp in dynamics.filetree.beforeTitle %}
            {% include imp %}
        {% endfor %}
         <a class="hyodo-sidebar-banner" href="/" aria-label="兵藤善紀建築設計事務所 HOME">
                   <img src="/img/user/images/common/hyodoarch-banner.png" width="222" height="74" alt="兵藤善紀建築設計事務所">
         </a>
         {% for imp in dynamics.filetree.afterTitle %}
            {% include imp %}
        {% endfor %}
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
         <div class="folder" x-data="{isOpen: true}">
               {%- for fileOrFolderName, fileOrFolder in filetree -%}
                  {{menuItem(fileOrFolderName, fileOrFolder, 0, fileOrFolderName)}}
               {%- endfor -%}
         </div>
         <aside class="hyodo-sidebar-links" aria-label="公式SNS・運営サイト">
           <p>公式 Instagram</p>
           <a href="https://www.instagram.com/hyodo_arch/" title="兵藤善紀建築設計事務所 Instagram">
             <img src="/img/user/images/common/instagram_240.png" width="80" height="80" alt="Instagram">
           </a>
           <p>兵藤事務所が運営するサイト</p>
           <a href="https://www.kurashinodogu.jp/" title="くらしの道具">
             <img src="/img/user/images/common/kurashinodogu.png" alt="くらしの道具">
           </a>
           <a href="https://www.hyodo-arch.com/buryoshaki/" title="無聊写記">
             <img src="/img/user/images/common/buryoshaki.png" alt="無聊写記">
           </a>
         </aside>
      </nav>
      </div>
    </div>
