<div class="hyodo-office-info">
  <p>兵藤善紀建築設計事務所　<span>Phone: <a href="tel:0484835999">048-483-5999</a></span></p>
  <p>〒332-0001　埼玉県川口市朝日4-9-3</p>
  <p>© 2026 Yoshinori Hyodo Architect &amp; Associates</p>
</div>
