---
layout: layouts/index.njk
permalink: /404.html
eleventyExcludeFromCollections: true
eleventyImport:
  collections: [gardenEntry]
title: ページが見つかりません | 兵藤善紀建築設計事務所
metatags:
  robots: noindex, follow
settings:
  dgShowFileTree: true
  dgEnableSearch: true
---
<h1>404 Not Found</h1>
<p>リクエストされたページは見つかりませんでした。<br>
ページが移動・削除されたか、URLが変更された可能性があります。</p>
<p>メニューや検索からお探しいただくか、<a href="/">ホームページ</a>へお戻りください。</p>
{{ collections.gardenEntry | homeSlideshow | safe }}
